{% extends 'base.html' %}

{% block content %}
    
    <h1>Index principal</h1>
    <div class="row mt-10">
        <div class="col-md-12">
            <h2>Projects List</h2>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <a href="{% url 'upload-data' %}" class="btn btn-primary mt-3"> Create project</a>
        </div>
    </div>

    <table class="table table-bordered table-hove mt-10">
        <thead>
            <th>Image</th>
            <th>project_title</th>
            <th>project_description</th>
            <th>tags</th>
            <th>github_project</th>
            <th>user</th>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                </td>
                <td>{{ project.photo }} </td>
                <td>{{ project.project_title }} </td>
                <td>{{ project.project_description }} </td>
                <td>{{ project.tags }} </td>
                <td>{{ project.github_project }} </td>
                <td>{{ project.user }} </td>
                <td>
                    <a href="/delete/{{ project.id }}" class="btn btn-danger">Delete project</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
